body{

		background-color:#E5D9F2; 
		color: #333; 
	   
}

body {
    color: #16423C; 
}

h2 {
    font-style: italic; 
    text-transform: uppercase; 
}

.h2-custom {
    word-spacing: 10px; 
    letter-spacing: 3px; 
}

#red-bold {
    color: red; 
    font-weight: bold; 
}

